@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
:root{
    /* colors */
    --primary: rgb(15, 15, 15);
    --primary-hover: rgb(64, 64, 64);
    
    --destructive: rgb(216, 49, 49);
    --destructive-hover: rgb(241, 73, 73);
}

body{
    font-family: "Geist", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #f0f0f0;
    margin: 0;
    box-sizing: border-box;
}